body
{
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: monospace;
}
h1, p
{
    text-align: center;
}
form
{
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
} 
fieldset
{
    border: none;
    padding: 1rem 0;
}
input, textarea, select
{
    font-family: monospace;
    width: 100%;
    min-height: 2em;
}
input[type="radio"], input[type="checkbox"], input[type="submit"]
{
    width: unset;
}
input[type="radio"], input[type="checkbox"]
{
    vertical-align: middle;
}
label
{
    display: block;
}
input[type="submit"]
{
    display: block;
    margin: 1em auto;
    width: 60%;
    min-width: 300px;
}
input[type="submit"]:hover
{
    background-color: black;
    color: white;
}
/* style all the titles of inputs*/
.comments
{
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}